.sec{
    width: 100%;
    display: flex;
    margin-top: 40px;
    justify-content: center;
}

.card{
    margin-top: 20px;
    background-color: transparent;
}

img{
    mix-blend-mode: multiply;
    margin: 7px;    
}

.img{
    width: 100%;
    display: flex;
    justify-content: center;
}

.grid{
    justify-content: space-evenly;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

